---
openapi: 3.0.1
info:
  title: API V1
  version: v1
components:
  securitySchemes:
    Bearer:
      description: "..."
      type: apiKey
      name: Authorization
      in: header
  schemas:
    error_response:
      type: object
      properties:
        error:
          type: number
      required:
      - error
    success_response:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
      required:
      - status
      - message
    userIds:
      type: array
      items:
        $ref: "#/components/schemas/userId"
    userId:
      type: number
    userInfo:
      type: object
      required: [id, name, wca_id, gender, country, country_iso2, url, class]
      properties:
        id:
          type: number
        name:
          type: string
        wca_id:
          type: string
        gender:
          type: string
        country_iso2:
          type: string
        url:
          type: string
        country:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            continentId:
              type: string
            iso2:
              type: string
          required: [id, name, continentId, iso2]
        class:
          type: string
    registration:
      type: object
      properties:
        user_id:
          type: number
        competing:
          type: object
          properties:
            event_ids:
              type: array
              items:
                type: string
                format: EventId
          required:
          - event_ids
      required:
      - user_id
      - competing
    sortedRanking:
      type: object
      properties:
        user_id:
          type: string
        single_rank:
          type: number
        single_best:
          type: string
        average_rank:
          type: number
        average_best:
          type: string
      required:
      - user_id
      - single_rank
      - single_best
      - average_rank
      - average_best
    psychSheet:
      type: object
      properties:
        sort_by:
          type: string
        sort_by_secondary:
          type: string
        sorted_rankings:
          type: array
          items:
            "$ref": "#/components/schemas/sortedRanking"
      required:
      - sort_by
      - sort_by_secondary
      - sorted_rankings
    registrationAdmin:
      type: object
      properties:
        user_id:
          type: number
        competing:
          type: object
          properties:
            event_ids:
              type: array
              items:
                type: string
                format: EventId
            registered_on:
              type: string
            registration_status:
              type: string
            comment:
              type: string
              nullable: true
            admin_comment:
              type: string
              nullable: true
          required:
          - event_ids
          - registered_on
          - registration_status
        guests:
          type: number
          nullable: true
      required:
      - user_id
      - competing
    submitRegistrationBody:
      properties:
        user_id:
          type: string
        competition_id:
          type: string
        competing:
          type: object
          properties:
            event_ids:
              type: array
              items:
                type: string
                format: EventId
            comment:
              type: string
            guests:
              type: number
      required:
      - user_id
      - competition_id
      - competing
    updateRegistrationBody:
      properties:
        user_id:
          type: string
        competition_id:
          type: string
        competing:
          type: object
          properties:
            event_ids:
              type: array
              items:
                type: string
                format: EventId
            status:
              type: string
            comment:
              type: string
            admin_comment:
              type: string
        guests:
          type: number
      required:
      - user_id
      - competition_id
paths:
  "/api/v1/users":
    post:
      summary: 'Private: Returns info about a list of users'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  "$ref": "#/components/schemas/userIds"
              required: [ids]
        required: true
      responses:
        '200':
          description: "Successfully returns UserInfo"
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/userInfo"
  "/api/v1/registrations/{competition_id}":
    get:
      summary: 'Public: list registrations for a given competition_id'
      parameters:
      - name: competition_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: " -> PASSING comp service down but registrations exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/registration"
  "/api/v1/psych_sheet/{competition_id}/{event_id}":
    get:
      summary: 'Private: Fetches the Psych Sheet for a given competition. The actual computation is handled by other Microservices'
      parameters:
      - name: competition_id
        in: path
        required: true
        schema:
          type: string
      - name: event_id
        in: path
        required: true
        schema:
          type: string
          format: EventId
      - name: sort_by
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: "Successfully passed down the Psych Sheet"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/psychSheet"
  "/api/v1/registrations/{competition_id}/admin":
    get:
      summary: 'Public: list registrations for a given competition_id'
      security:
      - Bearer: {}
      parameters:
      - name: competition_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: " -> PASSING organizer has access to comp 2"
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/registrationAdmin"
        '401':
          description: " -> PASSING organizer cannot access registrations for comps
            they arent organizing - multi comp auth"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/error_response"
  "/api/v1/register":
    post:
      summary: Add an attendee registration
      security:
      - Bearer: {}
      parameters: []
      responses:
        '202':
          description: "-> PASSING competitor submits basic registration"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/success_response"
        '401':
          description: " -> PASSING user impersonation (no admin permission, JWT token
            user_id does not match registration user_id)"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/error_response"
        '422':
          description: PASSING user registration exceeds guest limit
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/error_response"
        '403':
          description: " -> PASSING user cant register while registration is closed"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/error_response"
        '400':
          description: " -> PASSING empty payload provided"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/error_response"
        '404':
          description: " -> PASSING competition does not exist"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/error_response"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/submitRegistrationBody"
        required: true
    patch:
      summary: update or cancel an attendee registration
      security:
      - Bearer: {}
      parameters: []
      responses:
        '200':
          description: PASSING user changes comment
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  registration:
                    "$ref": "#/components/schemas/registrationAdmin"
        '422':
          description: PASSING user does not include required comment
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/error_response"
        '401':
          description: PASSING user requests invalid status change to their own reg
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/error_response"
        '403':
          description: PASSING user changes events / other stuff past deadline
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/error_response"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/updateRegistrationBody"
        required: true
servers:
- url: https://{defaultHost}
  variables:
    defaultHost:
      default: registration.worldcubeassociation.org
