@import '../../../style/font-sizes';
@import '../../../style/margins';

.editor{
  display: flex;
}
.comment-wrapper{
  textarea{
    width: 95%;
    resize: none;
    border-radius: 20px;
    border-color: black;
    padding: 7px;
    font-size: $sub-header-size;
  }
}
.registration-status{
  margin-top: $double-margin;
  margin-bottom: $double-margin;
}
