@import '../../style/font-sizes';
@import '../../style/breakpoints';

@media screen and (max-width: $semanticMobileBreakpoint) {
  .message{
    font-size: $text-size !important;
    width: 50vw;
    left: 25vw;
  }
}

@media screen and (min-width: $semanticMobileBreakpoint) {
  .message{
    font-size: $sub-header-size !important;
    width: 20vw;
    left: 40vw;
  }
}

.message{
  position: fixed !important;
  z-index: 100000;
  top: 10vh;
  text-align: center;
}

.visible{
  display: block;
}

.invisible{
  display: none;
}
