.list {
  border-radius: 23px;
  background-color: #D9D9D9;
  border-width: 10px;
  padding: 10px;
}
.list-container{
  margin-top: 20px;
}
.list-header{
  font-size: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
}

