@import '../style/font-sizes';
@import '../style/margins';
@import '../style/colors';
.competition-info{
  margin-bottom: $double-margin;
  line-height: normal;
}
.open{
  color: #007E0D;
}
.header{
  display: flex;
  border-radius: 39px;
  background: #EBEBEB;
  padding: 30px;
}
.announcement{
  background-color: $requirements-red;
  padding: 18px;
  border-radius: 18px;
  font-size: $sub-header-size;
}
.location{
  color: #000;
  font-size: $sub-header-size;
  margin-bottom: $double-margin;
}
.date{
  color: #000;
  font-size: $sub-header-size;
  margin-bottom: $double-margin;
}
.competition-name{
  font-size: $header-size;
  font-weight: 700;
  margin-bottom: $double-margin;
}
.register-button{
  background-color: #D55125 !important;
  color: white !important;
  margin: $single-margin !important;
  width: 244px !important;
  font-size: $header-size !important;
  border-radius: 12px !important;
}
.fee{
  font-size: $sub-header-size;
  margin-left: $single-margin;
}
.image{
  width: 14vw;
  height: 100%;
  border-radius: 26px;
  border: 7px solid #000;
  background: #6C6B6B !important;
  margin-left: 5%;
}
.event-list{
  padding: 30px;
  font-size: $sub-header-size;
  .event-header{
    margin-right: $single-margin;
  }
  div{
    margin-top: $double-margin;
  }
}
.event{
  margin-left: $single-margin;
}
